@use './abstracts/variables' with (

    
    $colors: (
        color1: #f23d4c,
        color2: #ffffff,
        color3: #457abf,
        color4: #181e26,
        color5: #f2eae4,
        )
        );




